html {
    height: 100%;
}

body {
    height: 100%;
}

/*navbar style*/
.navbar-brand {
    font-size: 40px;
}
/*container-left style*/
#container-left {
    width: 25%;
    height: 85%;
}

/*container-right style*/
#container-right {
    width: 75%;
    height: 85%;
}

/*search field style*/
#search {
    width: 60%;
}

/*hide 5 Day forcast*/
.hide {
    display: none;
}
